body {
  background: #EEF1EF;
}

.form {
  padding: 15px;
  background: #5E6572;
  color: #EEF1EF;
  font-family: 'Gaegu', sans-serif;
}

.toast-body {
  font-family: 'Gaegu', sans-serif;
  font-size: 20px;
}

.card-body {
  background: #A9B4C2;
  color: #1C2321;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#creado {
  background: #002b55;
}

.card {
  background: transparent !important;
  border: none !important;
}

.fa-solid {
  color: #990033;
}

i {
  cursor: pointer;
}

.App {
  font-family: sans-serif;
  text-align: center;
}